/* Write your CSS here */
* {
  font-family: 'Roboto';
}
.mainContainer {
  background-image: linear-gradient(#e2a139, #f9d423);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.subContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 90px;
  border-radius: 10px;
}
.heading {
  color: #a35200;
  font-weight: 500;
}
.description {
  color: #334155;
  font-weight: 500;
}
.image {
  width: 200px;
}
.button {
  background-color: #e2a139;
  color: #a35200;
  border: 0px solid;
  padding: 6px 15px;
  font-weight: 500;
  border-radius: 5px;
  margin: 10px;
}
.button:hover {
  cursor: pointer;
}
.scoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #475569;
  font-weight: 500;
  width: 80px;
}
.score {
  padding-right: 30px;
  padding-left: 30px;
}